<div class="one">
    <div class="heading">
        <b>BENO</b>
        <P>I AM WEB Developer</P>
    </div>
    <i class="fa-solid fa-bars tol"></i>

    <div class="first">
        <div class="logo">
            <i class="fa-brands fa-facebook-f"></i><br>
            <i class="fa-brands fa-twitter"></i><br>
            <a href=" https://www.instagram.com/invites/contact/?i=1rxr4n2px9up&utm_content=3d7gcwl"
                target="_blank"><i class="fa-brands fa-instagram"></i></a> <br>
            <span class="follow-me">follow me</span>


        </div>
        <div class="min">
            <p class="no">WELCOME TO MY WEBSITE</p>
            <h2 style="color: white;">Hi,I'm <label>Jeginth Beno</label><br>a Web Developer.</h2>
            <p class="par">I'M a wed developer from vellicode I have studied BE in ANNA UNIVERSITY<br>currently
                doing a project in Css.</p><br>
            <button>My Resume</button>
        </div>
        <div>
            <img src="./project img.png" class="image1">
        </div>
    </div>
</div>

