<div class="last-page">
    <h2 class="contact">Contact Me</h2>
    <div class="call-me">
        <input type="text" placeholder="Your Name">&nbsp&nbsp<input type="email" placeholder="Your Email">&nbsp
        <input type="number" placeholder="Your Phone number"><br><br><input class="address" type="address"
            placeholder="Your Message"><br>
        <button class="sent">sent message</button>
    </div>
    <div class="mail-me">
        <div>
            <h3 class="hoder">Email me</h3>
            <p class="oder">jeginthbeno2000@gmail.com</p>
        </div>
        <div>
            <h3 class="hoder">Call Me</h3>
            <p class="oder">7639802763</p>
        </div>
        <div>
            <h3 class="hoder">Address</h3>
            <p class="oder"> puthuvilai,vellicode, mulagumoodu(p.o)</p>
        </div>
    </div>
    <div class="col-6">
        <div>
            <p class="cam">&copy; Copywrite&nbsp2022-Kyros by Designesia</p>
        </div>
        <div>
            <i class="fa-brands fa-facebook ott"></i>
            <i class="fa-brands fa-twitter ott"></i>
            <i class="fa-brands fa-linkedin ott"></i>
            <i class="fa-brands fa-pinterest ott"></i>
            <i class="fa-solid fa-wifi ott"></i>
        </div>

    </div>


</div>
