<div class="container">
    <!-- <h class="resume">
        My Resume
    </h> -->
    <div class="whole">
        <!-- <h class="head3">
            Education Qualification:
        </h><br> -->
        <div class="full-page">
            <div class="total-1">
                <div class="header">
                    <span class="numbers">1</span>
                    <p class="years">2015-2016</p>
                </div>
                <h2 class="std">10<sup>th</sup>STANDARD</h2>
                <P class="school">Good Shepherd H.S.S</P>
                <P class="details"> I have completed my SSLC in good Shepherd<br> higher secondary school with a
                    percentage
                    of<br> 96.2% </P>
            </div>
            <div class="total-1">
                <div class="header">
                    <span class="numbers">2</span>
                    <p class="years">2017-2018</p>
                </div>
                <h2 class="std">12<sup>th</sup>STANDARD</h2>
                <P class="school">Good Shepherd H.S.S</P>
                <P class="details"> I have completed my HSS in good Shepherd<br> higher secondary school with a
                    percentage
                    of<br> 86.25 </P>
            </div>
            <div class="total-1">
                <div class="header">
                    <span class="numbers">3</span>
                    <p class="years">2018-2022</p>
                </div>
                <h2 class="std">Bachelor of Engineering</h2>
                <P class="school">S.X.C.C.E </P>
                <P class="details"> I have completed my Bachelor of Engineering<br> degree in the year of 2022
                </P>
            </div>
        </div>


    </div>





</div>
