<div class="two">
    <div>
        <img src="./2img.png" class="image2">
    </div>
    <div class="about">
        <b>About Me</b><br><br>
        <p class="par">My name is L.Jeginth Beno I am living in a village vellicode which is located in<br>
            KanyaKumari District i completed my B.E degree in ST.Xaviers catholic <br>college of Enginnering
            chunkankadai thats all about me
        <p>
        <h3>Business Lawyer</h3>
        <progress value="90" max="100"></progress>
        <h3>Corporate Lawyer</h3>
        <progress value="70" max="100"></progress>
        <h3>Personal Lawyer</h3>
        <progress value="82" max="100"></progress>
        <h3>Family Lawyer</h3>
        <progress value="62" max="100"></progress>
        <h3>Estate Lawyer</h3>
        <progress value="90" max="100"></progress>






    </div>
</div>
