.me{
    /* height:150px ;
    width: 1000px; */
    background-color: chartreuse;
    text-align: center;
    
}
.call{
    background-color:crimson;
    text-align: center;
    
}
.connect{
    background-color: blue;
    text-align: center;
}