<div class="third-page">
    <h5>What I DO</h5>
    <div class="third">
        <div Class="lock">
            <i class="fa-brands fa-react icon"></i>
            <!-- <h class="head3">Branding</h> -->
            <p class="para"> Branding is the process of giving a meaning to specific organization,company,progucts or services by creating and shaping a brand in consumers's minds
            </p>
        </div>
        <div class="lock">
            <!-- <b>What I DO</b> -->
            <i class="fa-sharp fa-solid fa-screwdriver-wrench icon"></i>
            <!-- <h class="head3">Development</h> -->
            <p class="para">I have studied html and css with completing several task and completed a small project in css
            </p>
        </div>
        <div class="lock">
            <i class="fa-sharp fa-solid fa-camera icon"></i>
            <!-- <h class="head3">Photography</h> -->
            <p class="para"> I am interested in photography but i am very much intrested in mobile photography because mobile phone is small and so we can carry whereever we go. 
            </p>
        </div>

    </div>
</div>
